### [과제 1] 배열을 생성후 시리즈로 변환하여 아래와 같이 출력하세요.
- [출력결과]
state
Califonia    1000
Ohio         2000
Oregon       3000
Texas        4000
Name: population, dtype:int32

In [19]:
import pandas as pd
import numpy as np

array = np.arange(1000,5000,1000)                      # 배열을 이용하여 리스트 생성

sr_array = pd.Series(array, index = ['Califonia', 'Ohio', 'Oregon', 'Texas'])    # 비열을 이용한 시리즈 생성
sr_array.name = 'population'        # 생성된 시리즈의 이름
sr_array.index.name = 'state'       # 생성된 시리즈에 사용된 index의 이름

print(sr_array)        # 생성된 시리즈 이름등을 모두 포함함.

state
Califonia    1000
Ohio         2000
Oregon       3000
Texas        4000
Name: population, dtype: int32

In [18]:
### [참고] 배열 생성이 아닌 리스트 생성후 결과 확인 시 dtype의 값이 int64가 됨.

import pandas as pd
import numpy as np

list = [1000, 2000, 3000, 4000]                        # 직접 리스트 생성

sr_list = pd.Series(list, index = ['Califonia', 'Ohio', 'Oregon', 'Texas'])    # 배열을 이용한 시리즈 생성
sr_list.name = 'population'        # 생성된 시리즈의 이름
sr_list.index.name = 'state'       # 생성된 시리즈에 사용된 index의 이름

print(sr_list)        # 생성된 시리즈 이름등을 모두 포함함.

state
Califonia    1000
Ohio         2000
Oregon       3000
Texas        4000
Name: population, dtype: int64

### [과제 2] 5행 5열로 구성된 2차원 배열을 생성하여 데이터프레임으로 변경해서 출력하세요.

In [31]:
import pandas as pd
import numpy as np

np.random.seed(0)                                  # .seed(숫자) : random 함수에서의 값이 변하지 않게 고정
                                                   #               (숫자의 값에 따라 값이 고정됨.)
array = np.random.randint(10,100,size=(5,5))
print(array)

print()
df_array = pd.DataFrame(array, index=['d1','d2','d3','d4','d5'], columns=['c1','c2','c3','c4','c5'])
print(df_array)

[[34 71 76 67 33]
 [86 42 20 55 11]
 [40 81 48 34 95]
 [82 53 79 22 92]
 [41 82 86 55 61]]

    c1  c2  c3  c4  c5
d1  34  71  76  67  33
d2  86  42  20  55  11
d3  40  81  48  34  95
d4  82  53  79  22  92
d5  41  82  86  55  61

### [과제 3] 과제 2번의 데이터프레임을 각각 배열, 리스트, 사전의 형태로 변환하여 출력하세요.

In [42]:
# 데이터프레임을 배열로 변환
array = df_array.values
print(f"<< 변환된 배열 확인 >>\n{array}\nType ::: {type(array)}\n")

# 데이터프레임을 리스트로 변환
lst = array.tolist()          # 배열로 변환된 데이터프레임을 받아 리스트로 변환
print(f"<< 변환된 리스트 확인 >>\n{lst}\nType ::: {type(lst)}\n")


# 데이터프레임을 딕셔너리로 변환
dict = df_array.to_dict('list')
print(f"<< 변환된 딕셔너리 확인 >>\n{dict}\nType ::: {type(dict)}\n")

<< 변환된 배열 확인 >>
[[34 71 76 67 33]
 [86 42 20 55 11]
 [40 81 48 34 95]
 [82 53 79 22 92]
 [41 82 86 55 61]]
Type ::: <class 'numpy.ndarray'>

<< 변환된 리스트 확인 >>
[[34, 71, 76, 67, 33], [86, 42, 20, 55, 11], [40, 81, 48, 34, 95], [82, 53, 79, 22, 92], [41, 82, 86, 55, 61]]
Type ::: <class 'list'>

<< 변환된 딕셔너리 확인 >>
{'c1': [34, 86, 40, 82, 41], 'c2': [71, 42, 81, 53, 82], 'c3': [76, 20, 48, 79, 86], 'c4': [67, 55, 34, 22, 55], 'c5': [33, 11, 95, 92, 61]}
Type ::: <class 'dict'>

In [8]:
### ['최재빈'님 코드]
import pandas as pd
import numpy as np

data = np.arange(1, 26).reshape(5, 5)
df = pd.DataFrame(data)


# 배열 형태로 변환
array_from_df = df.values

# 리스트 형태로 변환
list_from_df = df.values.tolist()

# 사전 형태로 변환
dict_from_df = df.to_dict('list')      # 괄호안에 'list'를 넣지 않으면 value 부분도 딕셔너리로 표현됨.


# 결과 출력
print(df)
print('-'*50)
print(array_from_df)
print('-'*50)
print(list_from_df) 
print('-'*50)
print(dict_from_df)

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25
--------------------------------------------------
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]
--------------------------------------------------
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]
--------------------------------------------------
{0: [1, 6, 11, 16, 21], 1: [2, 7, 12, 17, 22], 2: [3, 8, 13, 18, 23], 3: [4, 9, 14, 19, 24], 4: [5, 10, 15, 20, 25]}

### [과제 4] 4개의 Series를 결합하여 데이터프레임을 생성하여 출력하세요.

In [19]:
# 과제와 함께 주어진 코드

id = np.arange(1,1001)
i1 = pd.Series(id)

gender = np.random.randint(2,size=1000)
g1 = pd.Series(gender)

age = np.random.randint(1,101,size=1000)
a1 = pd.Series(age)

region = np.random.randint(1,11,size=1000)
r1 = pd.Series(region)

print(r1); print()

df_cc = pd.concat([i1,g1,a1,r1],axis=1)       # .concat() : 열이름 없이 데이터 프레임 생성됨
print(df_cc); print()

df = pd.DataFrame({'id': i1, 'gender': g1, 'age': a1, 'region': r1})   # ['주용규'님 코드] : 컬럼명 붙여서 데이터프레임 생성
print(df)

0       3
1       1
2       3
3      10
4       3
       ..
995     7
996     5
997     8
998    10
999     3
Length: 1000, dtype: int32

        0  1   2   3
0       1  0  18   3
1       2  1  52   1
2       3  0  92   3
3       4  0  97  10
4       5  0  61   3
..    ... ..  ..  ..
995   996  0  61   7
996   997  1  70   5
997   998  1  28   8
998   999  1  31  10
999  1000  0  68   3

[1000 rows x 4 columns]

       id  gender  age  region
0       1       0   18       3
1       2       1   52       1
2       3       0   92       3
3       4       0   97      10
4       5       0   61       3
..    ...     ...  ...     ...
995   996       0   61       7
996   997       1   70       5
997   998       1   28       8
998   999       1   31      10
999  1000       0   68       3

[1000 rows x 4 columns]

### [과제 4-1] 과제 4에 이어 아래 내용을 추가 이행하시오.
- 출력한 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
- null값을 3개 추가
- null값의 개수를 확인하고 삭제
- 2개의 데이터를 수정
- 1개의 행을 삭제

In [34]:
print(df.head(10))

# 데이터 인덱싱 ::: df.loc[(행),(열)]
print(f"\n[ age ] {df.loc[2, 'age']}, {df.loc[4, 'age']}, ", end="")
print(f"{df.loc[6, 'age']}, {df.loc[8, 'age']}, {df.loc[10, 'age']}\n")

     id  gender   age  region
0   1.0     0.0  18.0     3.0
1  11.0     NaN  52.0     1.0
2   3.0     0.0  92.0     3.0
3   4.0    33.0  97.0     NaN
4   5.0     0.0  61.0     3.0
5   6.0     1.0   NaN     5.0
6   7.0     0.0  32.0     5.0
7   8.0     1.0  40.0     8.0
8   9.0     1.0  21.0     1.0
9  10.0     0.0  26.0     5.0

[ age ] 92.0, 61.0, 32.0, 21.0, 85.0

In [35]:
# null값을 3개 추가
df.iloc[1,0] = np.nan
df.iloc[3,1] = np.nan
df.iloc[5,2] = np.nan

print(df.head(10))

     id  gender   age  region
0   1.0     0.0  18.0     3.0
1   NaN     NaN  52.0     1.0
2   3.0     0.0  92.0     3.0
3   4.0     NaN  97.0     NaN
4   5.0     0.0  61.0     3.0
5   6.0     1.0   NaN     5.0
6   7.0     0.0  32.0     5.0
7   8.0     1.0  40.0     8.0
8   9.0     1.0  21.0     1.0
9  10.0     0.0  26.0     5.0

In [36]:
# 2개의 데이터를 수정
df.iloc[1,0] = 11
df.iloc[3,1] = 33

print(df.head(10))


# 1개의 행을 삭제

#df1 = df.drop([1], axis=0)
df.drop([1], axis=0, inplace=True)
print(df.head(10))

     id  gender   age  region
0   1.0     0.0  18.0     3.0
1  11.0     NaN  52.0     1.0
2   3.0     0.0  92.0     3.0
3   4.0    33.0  97.0     NaN
4   5.0     0.0  61.0     3.0
5   6.0     1.0   NaN     5.0
6   7.0     0.0  32.0     5.0
7   8.0     1.0  40.0     8.0
8   9.0     1.0  21.0     1.0
9  10.0     0.0  26.0     5.0

In [37]:
# 1개의 행을 삭제

#df1 = df.drop([1], axis=0)
df.drop([1], axis=0, inplace=True)
print(df.head(10))

      id  gender   age  region
0    1.0     0.0  18.0     3.0
2    3.0     0.0  92.0     3.0
3    4.0    33.0  97.0     NaN
4    5.0     0.0  61.0     3.0
5    6.0     1.0   NaN     5.0
6    7.0     0.0  32.0     5.0
7    8.0     1.0  40.0     8.0
8    9.0     1.0  21.0     1.0
9   10.0     0.0  26.0     5.0
10  11.0     0.0  85.0     2.0

In [ ]:
# [참고] '주용규'님 코드

df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan
df.iloc[3,3] = np.nan

df.isnull().sum()

dropped_df = df.dropna()

dropped_df.isnull().sum()

In [ ]:
# [참고] '서영우'님 코드

df.at[1,'id'] = None
df.at[2,'id'] = None
df.at[3,'id'] = None
print(df)
print()
print(df.isna().sum())
df = df.dropna(axis=0)       # axis=0 : '행'을 나타냄 / axis=1 : '열'을 표현
df.head()
df.at[4,'gender'] = 1
df.at[5,'gender'] = 1
df.head()
df = df.drop(df.at[5, 'id'])
df.head()